@CHARSET "ISO-8859-1";


.search-box_2{
	-moz-border-radius: 15px;
 	border-radius: 15px;
    border:solid 1px blue;
    padding: 5px;
    position:relative;
    left:10%;
    margin-top:20px;
    width:80%;
    
    box-sizing: border-box;
    font-size: 16px;
    background-color: white;
    background-image: url('../static/search_icon.png');
    background-position: 600px;
    background-size: 30px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.logo_2{
	vertical-align: center;
    left: 100px;
    height: 90px;
    width: 120px;
}
.search-table{
	width:700px;
}