<!doctype html>
<html>
  <head>
    <title>Truth or Fiction</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/dashboard.css">
  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main"> 
          <h3>Truth or Fiction</h3>
          <form class="navbar-form navbar-left" method="post">
            <input type="text" name="query" class="form-control">
            <input type="submit" value="Submit" class="btn btn-info">
          </form>
           <h1>Result: {{ factuality }} </h1>
        </div>
      </div>
    </div>

 
   </body>
</html>
